@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background: url(~/public/background.jpg) no-repeat center center fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
